* {
    box-sizing: border-box;
    /* --main-color: #0e0e3b; */
    --main-color: #004f8f;
    --main-color-light: #a4d6ff;
    --main-color-dark: #003b6b;
    --main-color-opaque: #004f8f70;
}

body {
    position: relative;
}

a {
    color: inherit;
    text-decoration: none;
}

a:hover {
    color: inherit;
    text-decoration: none;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

h5 {
    font-size: 1rem;
}

.text-lg {
    font-size: 1.2rem;
}

.text-sm {
    font-size: 0.8rem;
}

.bg-lightgrey {
    background-color: lightgrey;
}

/* Content */

.content {
    margin-top: 80px;
    margin-bottom: 60px;
}

/* Navbar */

.navbar {
    top: 0;
    z-index: 1;
    position: fixed;
    width: 100%;
    opacity: 0.9;
    background: #181818 !important;
}

.navbar-brand {
    font-size: 1rem;
    line-height: 1rem;
    color: #228ce2 !important;
}

.navbar-brand:hover {
    color: var(--main-color-light) !important;
}

.navbar-brand__logo {
    width: 2.2rem;
    margin-right: 1rem;
    color: inherit;
    fill: currentColor;
}

/* Catalog */

.catalog {
    margin: 0;
    padding: 0;
}

.category-heading {
    /* background: #0e0e3bd5; */
    background: var(--main-color);
    opacity: 0.9;
}

.category-menu {
    position: relative;
    background: #fff;
    border: 1px solid #d3d3d3;
    z-index: 0;
}

.category-menu:not(:last-child) {
    border-bottom: none;
}

.category-menu:hover+.category-menu {
    border-top-color: var(--main-color);
}

.category-menu:hover {
    position: relative;
    /* background-color: #1b1b6f50; */
    background: var(--main-color-opaque);
    border-color: var(--main-color);
    color: var(--main-color-dark);
    /* box-shadow: 2px 0px 7px 0px rgba(50, 50, 50, 0.75); */
    /* box-shadow: 1px 1px 5px 0px rgba(50, 50, 50, 0.75); */
}

.category-menu::after {
    color: inherit;
    content: '\f105';
    top: 50%;
    transform: translateY(-50%);
    position: absolute;
    right: 12px;
    font-family: 'FontAwesome';
    font-size: 14px;
}

.catalog-links {
    display: block;
    padding: 7px 15px;
    color: #303030;
}

.catalog-description {
    color: #fff;
    cursor: pointer;
    font-size: 16px;
    letter-spacing: 1px;
    margin: 0;
    overflow: hidden;
    padding: 15px 20px;
    text-transform: uppercase;
}

/* Page Block */

.block__header {
    height: 50px;
    color: var(--main-color);
    border-bottom: 1px solid #d3d3d3;
    margin-bottom: 20px;
}

.block__image {
    width: 100%;
}

/* Quality */

/* 
.quality h4, .quality h5 {
    margin: 1.5rem 0;
} */

.card-img {
    object-fit: cover;
    height: 100%;
}

/* Footer */

.footer {
    background: #181818;
    padding-top: 20px;
    color: #ddd;
}

.footer__nav {
    list-style-type: circle;
    padding-left: 20px;
    margin: 10px 0;
}

.footer__nav-link:hover {
    opacity: 0.7;
}

.hr-bt {
    border-bottom: 1px solid #303030;
}

.hr-top {
    border-top: 1px solid #303030;
}
